<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <context-param>
    <param-name>FlickrAPIKey</param-name>
    <param-value>4f7e6cd5450f333df861b1f617688849</param-value>
  </context-param>
  <context-param>
    <param-name>FlickrSecretAPIKey</param-name>
    <param-value>490b56b5a53efb92</param-value>
  </context-param>
  <context-param>
    <param-name>EBayAPIKey</param-name>
    <param-value>Universi-fa2b-41fc-b9f0-f7c007719d68</param-value>
  </context-param>
  <context-param>
    <param-name>DBUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>DBPasswd</param-name>
    <param-value>hobbycentral</param-value>
  </context-param>
  <context-param>
    <param-name>DBUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/hobbycentral</param-value>
  </context-param>
  <context-param>
    <param-name>DOMAIN</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>PORT</param-name>
    <param-value>8080</param-value>
  </context-param>
  <servlet>
    <description>This servlet is used for testing purposes</description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.hobbycentral.servlet.Test</servlet-class>
  </servlet>
  <servlet>
    <description>This servlet covers calling the Flickr API to display pictures</description>
    <display-name>SearchFlickrPhotos</display-name>
    <servlet-name>SearchFlickrPhotos</servlet-name>
    <servlet-class>com.hobbycentral.servlet.SearchFlickrPhotos</servlet-class>
  </servlet>
  <servlet>
    <description>Servlet for Youtube API</description>
    <display-name>SearchYoutubeVideos</display-name>
    <servlet-name>SearchYoutubeVideos</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.SearchYoutubeVideos</servlet-class>
  </servlet>
  <servlet>
    <description>This servlet connects to the database</description>
    <display-name>DatabaseConnection</display-name>
    <servlet-name>DatabaseConnection</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.DatabaseConnection</servlet-class>
  </servlet>
  <servlet>
    <description>Servlet for Wikipedia</description>
    <display-name>SearchWikipedia</display-name>
    <servlet-name>SearchWikipedia</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.SearchWikipedia</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SelectCollectingTable</display-name>
    <servlet-name>SelectCollectingTable</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.SelectCollectingTable</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.Search</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CoinCollectingMoreInfo</display-name>
    <servlet-name>CoinCollectingMoreInfo</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.CoinCollectingMoreInfo</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AntiqueCollectionMoreInfo</display-name>
    <servlet-name>AntiqueCollectionMoreInfo</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.AntiqueCollectionMoreInfo</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>StampCollectionMoreInfo</display-name>
    <servlet-name>StampCollectionMoreInfo</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.StampCollectionMoreInfo</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ComicBooksCollectionMoreInfo</display-name>
    <servlet-name>ComicBooksCollectionMoreInfo</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.ComicBooksCollectionMoreInfo</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SportsCollectiblesMoreInfo</display-name>
    <servlet-name>SportsCollectiblesMoreInfo</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.SportsCollectiblesMoreInfo</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>FineArtCollectionMoreInfo</display-name>
    <servlet-name>FineArtCollectionMoreInfo</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.FineArtCollectionMoreInfo</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ModelCarsCollectionMoreInfo</display-name>
    <servlet-name>ModelCarsCollectionMoreInfo</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.ModelCarsCollectionMoreInfo</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>RecordsMoreInfo</display-name>
    <servlet-name>RecordsMoreInfo</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.RecordsMoreInfo</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>DataBean</display-name>
    <servlet-name>DataBean</servlet-name>
    <servlet-class>
		com.hobbycentral.java.DataBean</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>DisplayMoreInfo</display-name>
    <servlet-name>DisplayMoreInfo</servlet-name>
    <servlet-class>
		com.hobbycentral.servlet.DisplayMoreInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchFlickrPhotos</servlet-name>
    <url-pattern>/SearchFlickrPhotos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchYoutubeVideos</servlet-name>
    <url-pattern>/SearchYoutubeVideos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatabaseConnection</servlet-name>
    <url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchWikipedia</servlet-name>
    <url-pattern>/SearchWikipedia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCollectingTable</servlet-name>
    <url-pattern>/SelectCollectingTable</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CoinCollectingMoreInfo</servlet-name>
    <url-pattern>/CoinCollectingMoreInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AntiqueCollectionMoreInfo</servlet-name>
    <url-pattern>/AntiqueCollectionMoreInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampCollectionMoreInfo</servlet-name>
    <url-pattern>/StampCollectionMoreInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ComicBooksCollectionMoreInfo</servlet-name>
    <url-pattern>/ComicBooksCollectionMoreInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SportsCollectiblesMoreInfo</servlet-name>
    <url-pattern>/SportsCollectiblesMoreInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FineArtCollectionMoreInfo</servlet-name>
    <url-pattern>/FineArtCollectionMoreInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModelCarsCollectionMoreInfo</servlet-name>
    <url-pattern>/ModelCarsCollectionMoreInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecordsMoreInfo</servlet-name>
    <url-pattern>/RecordsMoreInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataBean</servlet-name>
    <url-pattern>/DataBean</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayMoreInfo</servlet-name>
    <url-pattern>/DisplayMoreInfo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Ebay</display-name>
    <servlet-name>Ebay</servlet-name>
    <servlet-class>com.hobbycentral.servlet.Ebay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ebay</servlet-name>
    <url-pattern>/Ebay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.hobbycentral.servlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/RedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tests</display-name>
    <servlet-name>Tests</servlet-name>
    <servlet-class>com.hobbycentral.servlet.Tests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tests</servlet-name>
    <url-pattern>/Tests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redirect</display-name>
    <servlet-name>Redirect</servlet-name>
    <servlet-class>com.hobbycentral.servlet.Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/Redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CombinedSearch</display-name>
    <servlet-name>CombinedSearch</servlet-name>
    <servlet-class>com.hobbycentral.servlet.CombinedSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CombinedSearch</servlet-name>
    <url-pattern>/CombinedSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleMapsResults</display-name>
    <servlet-name>GoogleMapsResults</servlet-name>
    <servlet-class>com.hobbycentral.servlet.GoogleMapsResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleMapsResults</servlet-name>
    <url-pattern>/GoogleMapsResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoComplete</display-name>
    <servlet-name>AutoComplete</servlet-name>
    <servlet-class>com.hobbycentral.servlet.AutoComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoComplete</servlet-name>
    <url-pattern>/AutoComplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserZip</display-name>
    <servlet-name>FindUserZip</servlet-name>
    <servlet-class>com.hobbycentral.servlet.FindUserZip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserZip</servlet-name>
    <url-pattern>/FindUserZip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EbayTest</display-name>
    <servlet-name>EbayTest</servlet-name>
    <servlet-class>com.hobbycentral.servlet.EbayTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EbayTest</servlet-name>
    <url-pattern>/EbayTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>com.hobbycentral.servlet.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JaccardServlet</display-name>
    <servlet-name>JaccardServlet</servlet-name>
    <servlet-class>com.hobbycentral.servlet.JaccardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JaccardServlet</servlet-name>
    <url-pattern>/JaccardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendAlsoLike</display-name>
    <servlet-name>RecommendAlsoLike</servlet-name>
    <servlet-class>com.hobbycentral.servlet.RecommendAlsoLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendAlsoLike</servlet-name>
    <url-pattern>/RecommendAlsoLike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectToCategory</display-name>
    <servlet-name>RedirectToCategory</servlet-name>
    <servlet-class>com.hobbycentral.servlet.RedirectToCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectToCategory</servlet-name>
    <url-pattern>/RedirectToCategory</url-pattern>
  </servlet-mapping>
</web-app>